process {
    executor = "slurm"

    withName: bgenToVCF {
        queue = "barc"
        cpus = 12
        time = "2h"
        memory = "50G"
        container = null
    }

    withName: cleanVCF {
        queue = "barc"
        cpus = 1
        time = "1h"
        memory = "8G"
        container = null
    }

    withName: snpEff {
        queue = "barc"
        cpus = 1
        time = "2h"
        memory = "8G"
        container = null
    }
}