apptainer {
    enabled = true
    cacheDir = '.cache'
}

process {
    executor = "slurm"

    withName: extractPGSVariants {
        queue = "barc"
        clusterOptions = "--constraint=rhel9"
        cpus = 1
        time = "1h"
        memory = "8G"
        container = "mjn15/vcfpy:3.12-slim"
    }

    withName: bgenToVCF {
        queue = "barc"
        clusterOptions = "--constraint=rhel9"
        cpus = 8 
        time = "2h"
        memory = "100G"
        container = null
        errorStrategy = { task.exitStatus == 13 ? 'ignore' : 'terminate' }
    }

    withName: vcfToBgen {
        queue = "barc"
        clusterOptions = "--constraint=rhel9"
        cpus = 12
        time = "8h"
        memory = "300G"
        container = null       
    }

    withName: cleanVCF {
        queue = "barc"
        clusterOptions = "--constraint=rhel9"
        cpus = 1
        time = "2h"
        memory = "16G"
        container = null
    }

    withName: mergeVCF {
        queue = "barc"
        clusterOptions = "--constraint=rhel9"
        cpus = 1
        time = "4h"
        memory = "50G"
        container = null
    }

    withName: sortVCF {
        queue = "barc"
        clusterOptions = "--constraint=rhel9"
        cpus = 4
        time = "4h"
        memory = "32G"
        container = null
    }

    withName: snpEff {
        queue = "barc"
        clusterOptions = "--constraint=rhel9"
        cpus = 4
        time = "4h"
        memory = "50G"
        container = null
    }

    withName: generateAnnotationCSV {
        queue = "barc"
        clusterOptions = "--constraint=rhel9"
        cpus = 1
        time = "1h"
        memory = "8G"
        container = "mjn15/vcfpy:3.12-slim"
       
    }
}